 @font-face{
 	font-family: "Olietta-Script";
 	src: url(Oliettascript.ttf) format("truetype");
 	font-style: normal;
 	font-weight: normal;
 	} 

 @font-face{
 	font-family: "ArtemisDeco";
 	src: url(ArtemisDeco.ttf) format("truetype");
 	font-style: normal;
 	font-weight: normal;
 	}

 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');