<!DOCTYPE html>
html(lang="ru_RU")
head
	meta(charset="UTF-8")
	title Модальность
	//- link(rel="stylesheet" href="css/normalize.css")
	link(rel="stylesheet" href="css/headermodal.css")
body
	header.header
		.container
			.menu_nav.clearfix
				a.logo(href="index.html")
				ul.menu
					li.menu__item о модальности
					li.menu__item 
						a(href="../dictionary.html").menu-link словарь
					li.menu__item поиск
			.header__tittle 
				p Модальность
	section.content
		.container
			.content__wrapper
				.content__block.block1
					p определения
				.content__block.block2
					p история термина
				.content__block.block3
					p типология
	footer.footer
		.container
			.footer__nav.clearfix
				a.logo__ik БФУ им. И. Канта
				ul.nav
					li.nav__item
						a.nav-link стартовая
					li.nav__item
						a.nav-link о проекте
					li.nav__item
						a.nav-link разработчики
					li.nav__item
						a.nav-link контакты
